{% extends 'base.html' %}
{##}
{#{% block scripts %}#}
{#    <!-- block.super will get the content of the block from the parent template -->#}
{#    {{ block.super }}#}
{#    <script src="{% static 'js/milk.js' %}"></script>#}
{#{% endblock %}#}

{% block head %}

    <style>
        #progressbar li {
            list-style-type: none;
            color: #000000;
            text-transform: uppercase;
            font-size: 9px;
            width: 20%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }
    </style>
{% endblock %}

{% block toggle %}
    {{ block.super }}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'works_list' %}">Список трудовых нарушений</a></li>
    </ul>
{% endblock %}

{% load static %}

{% block content %}
    <div class="row">
        <div>
            <form id="msform" method="post" enctype="multipart/form-data" regions-url="{% url 'works_regions_list' %}" novalidate >
                {% csrf_token %}
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Общая информация</li>
                    <li>Лицо или организация</li>
                    <li>Нарушитель</li>
                    <li>Описание кейса</li>
                    <li>Документы по кейсу</li>
                </ul>
                <!-- fieldsets -->
                <fieldset id='id_general_info_fieldset'>
                    <h2 class="fs-title">Общая информация</h2>
                    <br>
                    {% for field in form %}
                        {% if field.name in general_tabs_fields %}
                            {% if field.name == 'start_date' %}
                                <div class="form-group">
                                    <label>Дата нарушения</label> <br>
                                    <label for="exact"> Точная <input id="exact" onchange="checkIntrud(this)" type="radio"
                                                                      name="intrud" value="1"></label>
                                    <label for="interval"> Интервал <input id="interval" onchange="checkIntrud(this)" type="radio"
                                                                           name="intrud" value="2" checked></label>
                                </div>
                            {% endif %}
                            {% if fields.name == "trade_union_activities" %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="invalid_feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == "card_demand_categories" %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="invalid_feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="invalid_feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}


                    <input type="button" onclick="validate('checkGeneralTab')" class="action-button" value="Следующий"/>
                    <input type="button" id="btnStrikeNextFromStrikeGeneral" name="next" class="next action-button d-none" value="Следующий"/>
                </fieldset>
                <fieldset id = 'if_victim_fieldset'>
                    <h2 class="fs-title">Лицо или организация</h2>
                    <br>
                    {% for field in form %}
                        {% if field.name in initiator_tab_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                <div class="invalid_feedback">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="panel panel-default" id="idTradeUnionForm">
                        <div class="panel-heading">Профсоюзная организация</div>
                        <div class="panel-body">
                            {% for field in tradeUnionForm %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="invalid_feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {#                    <div class="panel panel-default" id="idIndividualFormDiv">#}
                    {#                        <div class="panel-heading">Физическое лицо</div>#}
                    {#                        <div class="panel-body">#}
                    {#                            {% for field in individualForm %}#}
                    {#                                <div class="form-group">#}
                    {#                                    {{ field.label_tag }}#}
                    {#                                    {{ field }}#}
                    {#                                    <div class="invalid_feedback">#}
                    {#                                        {{ field.errors }}#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            {% endfor %}#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="panel panel-default" id="idIndividualFormDiv">
                        <div class="panel-heading">Физическое лицо</div>
                        <div class="panel-body" id = "form-container">
                            {{individualFormSet.management_form}}
                            {% for indForm in individualFormSet %}
                                <div class="bird-form">
                                    {{indForm.as_p}}
                                </div>
                            {% endfor %}
                            <button id="add-form" type="button" class="btn btn-primary">Добавить ФЛ</button>
                            <button id="del-form" type="button" class="btn btn-danger">Удалить ФЛ</button>
                        </div>

                    </div>
                    <div class="panel panel-default" id="idPersonGroupFormDiv">
                        <div class="panel-heading">Группа лиц (работников)</div>
                        <div class="panel-body">
                            {% for field in personGroupForm %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="invalid_feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <input type="button" name="previous" class="previous action-button-previous" value="Предыдущий"/>
                    {#                    <input type="button" name="next" class="next action-button" value="Следующий"/>#}
                    <input type="button" onclick="validate('victim_tab')" class="action-button" value="Следующий"/>
                    <input type="button" id="btnWorkNextFromVictimTab" name="next" class="next action-button d-none" value="Следующий"/>
                </fieldset>
                <fieldset id = "id_intruder_fieldset">
                    <h2 class="fs-title">Нарушитель</h2>
                    <br>
                    {% for field in form %}
                        {% if field.name in intruder_tab_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                <div class="invalid_feedback">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="panel panel-default" id="idEmployerCompanyDiv">
                        <div class="panel-heading">Работодатель (компания)</div>
                        <div class="panel-body">
                            {% for field in companyInfoForm %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="invalid_feedback">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <input type="button" name="previous" class="previous action-button-previous" value="Предыдущий"/>
                    {#                    <input type="button" name="next" class="next action-button" value="Следующий"/>#}
                    <input type="button" onclick="validate('intruder_tab')" class="action-button" value="Следующий"/>
                    <input type="button" id="btnWorkNextFromIntruderTab" name="next" class="next action-button d-none" value="Следующий"/>
                </fieldset>
                <fieldset id="id_description_fieldset">
                    <h2 class="fs-title">Кейсы, связанные с данной ситуацией</h2>
                    <br>
                    {% for field in form %}
                        {% if field.name in description_tab_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                <div class="invalid_feedback">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="button" name="previous" class="previous action-button-previous" value="Предыдущий"/>
                    {#                    <input type="button" name="next" class="next action-button" value="Следующий"/>#}
                    <input type="button" onclick="validate('description_tab')" class="action-button" value="Следующий"/>
                    <input type="button" id="btnWorkNextFromDesc" name="next" class="next action-button d-none" value="Следующий"/>

                </fieldset>
                <fieldset id="id_files_fieldset">
                    <h2 class="fs-title">Кейсы, связанные с данной ситуацией</h2>
                    <br>
                    <div class="form-group">
                        {{ casePhotoForm.photo.label_tag }}
                        {{ casePhotoForm.photo }}
                        <div class="invalid_feedback">
                            {{ casePhotoForm.photo.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ caseFileForm.file.label_tag }}
                        {{ caseFileForm.file }}
                        <div class="invalid_feedback">
                            {{ caseFileForm.file.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.case_text.label_tag }}
                        {{ form.case_text }}
                        <div class="invalid_feedback">
                            {{ form.case_text.errors }}
                        </div>
                    </div>


                    <input type="button" name="previous" class="previous action-button-previous" value="Предыдущий"/>
                    <input type="button" onclick="validate('files_tab')" class="action-button" value="Сохранить"/>
                    <input type="submit" id="btnWorkSaveForm" name="submit" class="btn btn-primary action-button d-none" value="Сохранить"/>

                </fieldset>
            </form>
        </div>
    </div>
    {% block scripts %}
        {{ block.super }}


        <script src="{% static 'work/js/script.js' %}"></script>

        <script>
            let has_error;

            function validate(id) {
                switch (id) {
                    case 'checkGeneralTab':
                        checkGeneralTab();
                        break;
                    case 'victim_tab':
                        checkVictimTab();
                        break;
                    case 'intruder_tab':
                        checkIntruderTab();
                        break;
                    case 'description_tab':
                        checkWorkDescriptionTab();
                        break;
                    case 'files_tab':
                        checkWorkFilesTab();
                        break;
                }
            }





            function validate_files_uploaded(id){
                let field = document.querySelector('#%'.replace('%', id));

                if (field.files.length == 0){
                    set_error(field, 'files')
                }
            }
            function set_error(field, type = 'empty', amount = 7) {
                if (has_error === false){
                    field.focus();
                }
                let err;
                switch (type){
                    case 'length':
                        err = errorMessage('Значение должно состоять как минимум из amount символов!'.replace('amount',amount));
                        break;
                    case 'select':
                        err = errorMessage('Необходимо выбрать значение!');
                        break;
                    case 'empty':
                        err = errorMessage('Значение не может быть пустым!');
                        break;
                    case 'any':
                        err = errorMessage('Необходимо заполнить хотя бы одно поле!');
                        break;
                    case 'files':
                        err = errorMessage('Необходимо прикрепить файлы!');
                        break;
                }

                field.after(err);
                has_error = true
            }

            function is_checked(id){
                return document.querySelector('#%'.replace('%',id)).checked;
            }

            function get_selected(id){
                return document.querySelector('#%'.replace('%', id)).value;
            }

            function validate_text_field(id, length=0){
                let field = document.querySelector('#%'.replace('%',id));
                if (length > 0) {
                    if (field.value.length < length) {
                        set_error(field, 'length', length);
                    }
                }else{
                    if (field.value === '') {
                        set_error(field, 'empty');
                    }
                }
            }

            function validate_selected(id){
                let field = document.querySelector('#%'.replace('%', id));
                if (field.value === '') {
                    set_error(field, 'select');
                }
            }

            function clear_errors() {
                document.querySelectorAll(".err").forEach(el => el.remove());
            }

            function checkedAny(checkBoxList){
                for(let i = 0; i < checkBoxList.length; i++) {
                    if (checkBoxList[i].checked) {
                        return true;
                    }
                }
                return false;
            }

            function validate_checkbox_list(classname, id){
                let list = document.querySelectorAll('input[name=%]'.replace('%', classname));
                if (!checkedAny(list)){
                    set_error(document.querySelector('#%'.replace('%', id)), 'select');
                }
            }

            function checkIntruderTab(){
                has_error = false;
                clear_errors();

                validate_checkbox_list('intruder', 'id_intruder');

                if (is_checked('id_intruder_0')){
                    validate_text_field('id_government_agency_name',3);
                }

                if (is_checked('id_intruder_1')){
                    validate_text_field('id_local_agency_name',3);
                }
                if (is_checked('id_intruder_2')){
                    validate_text_field('id_police_agency_name',3);
                }
                if (is_checked('id_intruder_3')){
                    validate_text_field('id_company_name',3);
                    validate_text_field('id_address',7);
                    validate_text_field('id_product_type',7);
                    validate_selected('id_ownership');
                    if (get_selected('id_ownership') == 3){
                        validate_text_field('id_country_from',3);
                        validate_selected('id_is_tnk_member');
                        if (get_selected('id_is_tnk_member') == 'YES'){
                            validate_text_field('id_tnk_name', 3);
                        }
                    }
                    validate_text_field('id_company_experience', 3);
                    validate_text_field('id_branch', 3);
                    validate_selected('id_emp_count');
                    {#validate_text_field('id_additional',7);#}
                }

                if (is_checked('id_intruder_5')){
                    validate_text_field('id_intruderAnother',7);
                }

                if (has_error == false) {
                    document.querySelector('#btnWorkNextFromIntruderTab').click();
                }
            }


            function checkVictimTab(){
                has_error = false;
                clear_errors();

                validate_selected('id_victim');

                switch (get_selected('id_victim')){
                    case '1':
                        validate_text_field('id_tradeunion_name', 7);
                        validate_text_field('id_branch_name', 7);
                        validate_text_field('id_victim_name', 7);
                        validate_text_field('id_contacts', 7);
                        break;
                    case '2':

                        for (i = 0; i < 10; i++) {
                            var el = document.getElementById('id_form-'+i+'-is_anonim')
                            if (el){
                                validate_selected('id_form-'+i+'-is_anonim');
                                if (el.value == 'NO'){
                                    validate_text_field("id_form-"+i+"-name", 7);
                                }
                                validate_selected("id_form-"+i+"-member_of_tradeunion");
                                if (get_selected("id_form-"+i+"-member_of_tradeunion") == 'NO') {
                                    hideTandem('id_tradeUnionSituation');
                                    hideTandem('id_tradeUnionCount');
                                } else {
                                    showTandem('id_tradeUnionSituation');
                                    showTandem('id_tradeUnionCount');
                                }
                                validate_selected("id_form-"+i+"-gender");
                                validate_text_field("id_form-"+i+"-age", 0);
                                validate_selected("id_form-"+i+"-education");
                                validate_selected("id_form-"+i+"-marital_status");
                                validate_text_field("id_form-"+i+"-position", 3);
                                validate_text_field("id_form-"+i+"-experience", 0);
                                validate_selected("id_form-"+i+"-is_official");
                                validate_selected("id_form-"+i+"-has_agreement");
                            }
                        }
                        break;
                    case '3':
                        validate_text_field('id_amount',0);
                        validate_selected('id_type');
                        validate_selected('id_membership');
                        break;

                }


                if (has_error == false) {
                    document.querySelector('#btnWorkNextFromVictimTab').click();
                }

            }

            function checkWorkDescriptionTab(){
                has_error = false;
                clear_errors();
                {#validate_text_field('id_exact_data',7);#}
                {#validate_text_field('id_case_description',7);#}
                {#validate_selected('id_violation_nature');#}
                {#validate_selected('id_rights_state');#}
                {#if (get_selected('id_rights_state') == 4){#}
                {#    validate_text_field('id_rights_state_another',7);}#}
                {#validate_selected('id_victim_situation');#}
                {#if (get_selected('id_victim_situation') == 7){#}
                {#    validate_text_field('id_victim_situation_another',7);}#}
                {#validate_selected('id_tradeUnionSituation');#}
                {#if (get_selected('id_tradeUnionSituation') == 4){#}
                {#    validate_text_field('id_tradeUnionSituation_another', 7);}#}
                {#validate_selected('id_tradeUnionCount');#}


                if (has_error == false) {
                    document.querySelector('#btnWorkNextFromDesc').click();
                }
            }

            function checkWorkFilesTab(){
                has_error = false;
                clear_errors();
                {##}
                {#validate_files_uploaded('id_photo');#}
                {#validate_files_uploaded('id_file');#}

                if (has_error === false) {
                    document.querySelector('#btnWorkSaveForm').click();
                    document.querySelector('#btnWorkSaveForm').disabled = true;


                }
            }


            function checkGeneralTab() {
                has_error = false;
                clear_errors();

                validate_text_field('id_case_name',7);
                if (get_selected('id_trade_union_activities') == 19) {
                    validate_text_field('id_trade_union_activities_another', 7);
                }
                validate_checkbox_list('source','id_source');

                if (document.querySelector('#id_source_2').checked){
                    let id_source_url = document.querySelector('#id_source_url');
                    let id_source_content = document.querySelector('#id_source_content');

                    if (id_source_url.value === '' && id_source_content.value === ''){
                        set_error(id_source_content, 'any');
                    }
                }
                if (document.querySelector('#id_source_9').checked){
                    validate_text_field('id_source_another', 7);
                }

                validate_selected('id_start_date');
                validate_selected('id_country');
                validate_selected('id_region');
                validate_text_field('id_city_name',3);
                validate_text_field('id_case_company_name',3);
                validate_selected('id_groupOfRights');
                switch (get_selected('id_groupOfRights')){
                    case '1':
                        validate_selected('id_tradeUnionRight');

                        switch (get_selected('id_tradeUnionRight')) {
                            case '1':
                                validate_selected('id_tradeUnionCrime');
                                if (get_selected('id_tradeUnionCrime') == 3){
                                    validate_text_field('id_tradeUnionCrimeAnother', 7)
                                }
                                break;
                            case '3':
                                validate_selected('id_meetingsRight');
                                if (get_selected('id_meetingsRight') == 3){
                                    validate_text_field('id_meetingsRightAnother', 7)
                                }
                                break;
                            case '6':
                                validate_selected('id_tradeUnionBuildingsRight');
                                if (get_selected('id_tradeUnionBuildingsRight') == 3){
                                    validate_text_field('id_tradeUnionBuildingsRightAnother', 7)
                                }
                                break;
                        }

                        break;

                    case '2':
                        validate_selected('id_сonvention87');

                        switch (get_selected('id_сonvention87')){
                            case '1':
                                validate_selected('id_createOrganizationRight');
                                if (get_selected('id_createOrganizationRight') == 7){
                                    validate_text_field('id_createOrganizationRightAnother', 7);
                                }
                                break;
                            case '2':
                                validate_selected('id_createTradeUnionRight');

                                if (get_selected('id_createTradeUnionRight') == 5){
                                    validate_text_field('id_createTradeUnionRightAnother', 7);
                                }
                                break;
                            case '4':
                                validate_selected('id_electionsRight');
                                if (get_selected('id_electionsRight') == 3){
                                    validate_text_field('id_electionsRightAnother', 7);
                                }
                                break;
                            case '5':
                                validate_selected('id_tradeUnionActivityRight');
                                if (get_selected('id_tradeUnionActivityRight') == 4){
                                    validate_text_field('id_tradeUnionActivityRightAnother', 7);
                                }
                                break;
                            case '7':
                                validate_selected('id_createStrikeRight');
                                if (get_selected('id_tradeUnionActivityRight') == 10){
                                    validate_text_field('id_createStrikeRightAnother', 7);
                                }
                                break;

                        }
                        break;

                    case '3':
                        validate_selected('id_сonvention98');
                        switch (get_selected('id_сonvention98')){
                            case '1':
                                validate_selected('id_antiTradeUnionDiscrimination');
                                if (get_selected('id_antiTradeUnionDiscrimination') == 5){
                                    validate_text_field('id_antiTradeUnionDiscriminationAnother', 7);
                                }
                                break;
                            case '2':
                                validate_selected('id_conversationRight');
                                if (get_selected('id_conversationRight') == 8){
                                    validate_text_field('id_conversationRightAnother', 7);
                                }
                                break;

                        }
                        break;
                    case '4':
                        validate_selected('id_сonvention135');
                        if (get_selected('id_сonvention135') == 4){
                            validate_text_field('id_сonvention135Another', 7);
                        }
                        break;
                    case '5':
                        validate_selected('id_consultationRight');
                        if (get_selected('id_consultationRight') == 4){
                            validate_text_field('id_consultationRightAnother', 7);
                        }
                        break;
                    case '6':
                        validate_selected('id_principleOfNonDiscrimination');
                        switch (get_selected('id_principleOfNonDiscrimination')) {
                            case '1':
                                validate_selected('id_discriminatiOnVariousGrounds');
                                break;
                            case '2':
                                validate_selected('id_discriminationInVariousAreas');
                                if(get_selected('id_discriminationInVariousAreas') == 10){
                                    validate_text_field('id_discriminationInVariousAreasAnother', 7);
                                }
                                break;
                            case '3':
                                validate_selected('id_publicPolicyDiscrimination');
                                break;


                        }
                        break;
                    case '7':
                        validate_selected('id_childLabor');
                        if (get_selected('id_childLabor') == 1){
                            validate_selected('id_сonvention138');
                        }else{
                            validate_selected('id_convention182');
                        }
                        break;
                    case '8':
                        validate_selected('id_prohibitionOfForcedLabor');
                        break;



                }

                if (has_error == false) {
                    document.querySelector('#btnStrikeNextFromStrikeGeneral').click();
                }
            }

            function checkDescriptionTab() {
                has_error = false;
                clear_errors();

                validate_selected('id_duration');
                validate_selected('id_meeting_requirements');
                validate_text_field('id_story', 7);
                validate_text_field('id_reasons_for_strike', 7);
                validate_text_field('id_change_number_participants', 7);
                validate_text_field('id_initiators_and_participants', 7);
                validate_text_field('id_state_position', 7);
                validate_text_field('id_results_so_far', 7);
                validate_text_field('id_additional_information', 7);

                if (has_error == false) {
                    document.querySelector('#btnNextFromCaseDesc').click();
                }
            }

            function errorMessage(txt) {
                let p = document.createElement('p');
                p.style.color = 'red';
                p.className = 'err';
                p.innerHTML = txt;
                return p;
            }

            function checkFilesTab() {
                has_error = false;
                clear_errors();

                validate_files_uploaded('id_photo');
                validate_files_uploaded('id_file');
                validate_text_field('id_case_text', 7);

                if (has_error == false) {
                    document.querySelector('#btnSaveForm').click();
                }

            }

            function checkIntrud(e) {
                if (e.value === '1') {
                    document.querySelector('#id_end_date').style.display = 'none';
                    document.querySelector('label[for=id_end_date]').style.display = 'none';
                    document.querySelector('label[for=id_start_date]').style.display = 'none';
                    document.querySelector('#id_end_date').value = '';
                } else if (e.value === '2') {
                    document.querySelector('label[for=id_start_date]').style.display = 'block';
                    document.querySelector('label[for=id_end_date]').style.display = 'block';
                    document.querySelector('#id_end_date').style.display = 'block';
                    document.querySelector('#id_end_date').value = document.querySelector('#id_start_date').value;
                }

            }


        </script>

        <script>
            $("#id_country").change(function () {
                console.log("work")
                const url = $("#msform").attr("regions-url");  // get the url of the `load_cities` view
                console.log(url)
                const countryId = $(this).val();  // get the selected country ID from the HTML input
                console.log(countryId)
                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'country_id': countryId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
                        /*
                        let html_data = '<option value="">---------</option>';
                        data.forEach(function (city) {
                            html_data += `<option value="${city.id}">${city.name}</option>`
                        });
                        console.log(html_data);
                        $("#id_city").html(html_data);
                        */
                    }
                });

            });
        </script>

        <script>
            let birdForm = document.querySelectorAll(".bird-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-form")
            let delButton = document.querySelector("#del-form")
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

            let formNum = birdForm.length-1
            addButton.addEventListener('click', addForm)
            delButton.addEventListener('click', delForm)

            function addForm(e){
                e.preventDefault()

                let newForm = birdForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`,'g')

                formNum++

                if (formNum >= 10){
                    return;
                }
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)
            }
            function delForm(e){
                e.preventDefault()

                $("#formNum").remove();
            }
        </script>

    {% endblock %}

{% endblock %}