{% extends 'base.html' %}
{##}
{#{% block scripts %}#}
{#    <!-- block.super will get the content of the block from the parent template -->#}
{#    {{ block.super }}#}
{#    <script src="{% static 'js/milk.js' %}"></script>#}
{#{% endblock %}#}


{% block content %}

    mainForm
    <form method="post">

        {% csrf_token %}
        {% for field in form %}
                <div class="form-group">

                    {{ field.label_tag }}

                    <br>
                    {{ field }}
                    <div class="invalid_feedback">
                        {{ field.errors }}
                    </div>
                </div>
                <br>
        {% endfor %}
    </form>


    groupForm
    <form method="post">

        {% csrf_token %}
        {% for field in groupForm %}
                <div class="form-group">

                    {{ field.label_tag }}

                    <br>
                    {{ field }}
                    <div class="invalid_feedback">
                        {{ field.errors }}
                    </div>
                </div>
                <br>
        {% endfor %}
    </form>

    individualForm
    <form method="post">

        {% csrf_token %}
        {% for field in individualForm %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    <div class="invalid_feedback">
                        {{ field.errors }}
                    </div>
                </div>
                <br>
        {% endfor %}
    </form>



{% endblock %}