{% extends 'base.html' %}

{% load static %}

{% block style %}
    body{
    text-align: center;
    }
    .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    }
    .modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    }
    .close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
{% endblock style %}

{% block content %}
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div id = "msform" class="card card-body" regions-url="{% url 'works_regions_list' %}">

                <form method="get">
                    <div class="row">
                        <div class="col-sm-4">
                            {{ myFilter.form.name.label }}
                            {{ myFilter.form.name }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.initiator.label }}
                            {{ myFilter.form.initiator }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.country.label }}
                            {{ myFilter.form.country}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{ myFilter.form.region.label }}
                            {{ myFilter.form.region}}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.start_date.label }}
                            {{ myFilter.form.start_date }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.end_date.label }}
                            {{ myFilter.form.end_date }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.date_update.label }}
                            {{ myFilter.form.date_update }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.end_update.label }}
                            {{ myFilter.form.end_update }}
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Найти</button>
                    <a href="{% url 'works_list' %}"><button class="btn btn-primary" type="button">Показать все</button></a>
                </form>

            </div>
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table id ="msform" class="table table-sm">
                    <tr>
                        <th>№</th>
                        <th>Монитор</th>
                        <th>Название</th>
                        <th>Регион</th>
                        <th>Дата создания</th>
                        <th>Дата последних изменений</th>
                        <th>...</th>
                    </tr>

                    {% for card in cards %}

                        <tr>
                            <td>{{card.id}}</td>
                            <td>{{card.user}}</td>
                            <td>{{card.case_name}}</td>
                            <td>{{card.region}}</td>
                            <td>{{card.date_create | date:"d.m.Y H:i"}}</td>
                            <td>{{card.date_update | date:"d.m.Y H:i"}}</td>
                            <td>
                                {% if card.user == request.user or request.user.position.role_id == 1 or request.user.position.role_id == 2%}
                                    <a href="{% url 'work_case_update' card.id %}"><img src="{% static 'icon/edit.svg' %}" height="20px" alt="Обновить" title="Обновить"></a>
                                    <img data-id="{{ card.id }}" class="delete-btn" src="{% static 'icon/delete.svg' %}" height="20px" alt="Удалить" title="Удалить">
                                    <a href="{% url 'work_case_files_download' card.id %}"><img src="{% static 'icon/image_file.svg' %}" height="20px" alt="Скачать файлы и изображения" title="Скачать файлы и изображения"></a>
                                    <div id="myModal{{ card.id }}" class="modal">
                                        <div class="modal-content">
                                            <span  data-id="{{ card.id }}" class="close">&times;</span>
                                            <p>Вы уверенны что хотите удалить?</p>
                                            <a href="{% url 'work_case_delete' card.pk %}"><button class="btn btn-primary">Да</button></a>
                                            <a href="{% url 'works_list' %}"><button class="btn btn-primary">Нет</button></a>
                                        </div>
                                    </div>
                                {% endif %}
                                <a href="{% url 'word_case_word' card.id %}"><img src="{% static 'icon/word.svg' %}" height="20px" alt="Скачать word файл" title="Скачать word файл"></a>
                                <a href="{% url 'work_case_download_pdf' card.id %}"><img src="{% static 'icon/pdf-download.svg' %}" height="20px" alt="Скачать pdf файл" title="Скачать pdf файл"></a>
                                <a href="{% url 'work_case_get_pdf' card.id %}"><img src="{% static 'icon/pdf.svg' %}" height="20px" alt="Просмотреть pdf файл" title="Просмотреть pdf файл"></a>
                                <a href="{% url 'work_case_show_comments' card.id %}"><img src="{% static 'icon/show-more.svg' %}" height="20px" alt="Показать коментарии" title="Показать коментарии"></a>
                                {% if request.user.position.role_id == 1 or request.user.position.role_id == 2 %}
                                    <a href="{% url 'work_case_add_comment' card.id %}"><img src="{% static 'icon/add.svg' %}" height="20px" alt="Добавить коментарий" title="Добавить коментарий"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
        <div>
            <form class="form" method="post" action="/admin/work/case/export/">
                {% csrf_token %}
                <input value="1" name="file_format" id="id_file_format" style="display: none">
                <button type="submit" class="btn btn-primary">Экспорт</button>
            </form>
        </div>
    {% endif %}
    <br>
    <br>
{% endblock %}
{% block scripts %}
    <script>
        $("#id_country").change(function () {
            const url = $("#msform").attr("regions-url");  // get the url of the `load_cities` view
            const countryId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'country_id': countryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
                    /*
                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);
                    */
                }
            });

        });
        let deleteBtns = document.querySelectorAll('.delete-btn');
        let closeBtns = document.querySelectorAll('.close');

        deleteBtns.forEach(item => {
            item.onclick = showDeleteModal;
        });
        closeBtns.forEach(item => {
            item.onclick = closeDeleteModal;
        })

        function showDeleteModal(e){
            let id = e.target.dataset.id;
            let modal = `#myModal${id}`;
            modal = document.querySelector(modal)
            modal.style.display = "block";
        }

        function closeDeleteModal(e){
            let id = e.target.dataset.id;
            let modal = `#myModal${id}`;
            modal = document.querySelector(modal)
            modal.style.display = "none";
        }

    </script>
{% endblock %}