{% extends 'base.html' %}
{% load static %}
{% block toggle %}
    {{ block.super }}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'works_list' %}">Список трудовых нарушений</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Получение коментариев к {{ case.case_name }}</h1>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>№</th>
                        <th>Коментарий</th>
                        <th>Дата создания</th>
                        <th>Редактировать</th>
                    </tr>

                    {% for comment in comments %}

                        <tr>
                            <td>{{ comment.id }}</td>
                            <td>{{ comment.comment }}</td>
                            <td>{{ comment.date_create | date:"d.m.Y H:i" }}</td>
                            <td><a href="{% url 'work_case_delete_comment' comment.id %}"><img src="{% static 'icon/delete.svg' %}" height="20px" alt="Удалить"></a></td>
                            {#					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>#}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}