{% extends 'base.html' %}

{% load static %}
{% block content %}
<br>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Найти</button>
		  </form>

		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>№</th>
					<th>Монитор</th>
					<th>Название</th>
					<th>Регион</th>
					<th>Дата создания</th>
					<th>Дата последних изменений</th>
					<th>Редактировать</th>
				</tr>

				{% for card in cards %}

				<tr>
					<td>{{card.id}}</td>
					<td>{{card.user}}</td>
					<td>{{card.case_name}}</td>
					<td>{{card.region}}</td>
					<td>{{card.date_create | date:"d.m.Y H:i"}}</td>
					<td>{{card.date_update | date:"d.m.Y H:i"}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'strike_case' %}">Update</a></td>

{#					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>#}
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}