.b{
    background: #afafaf47;
    border-radius: 20px;
}
.s-label{
    font-size:1.2rem;
}
.item-header{
    padding: 7px;
}
#right-block{
    padding-bottom:15px;
}
.d-none{
   display:none;
}

.no-margin{
   margin: 0 !important;
}