<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Файлы и изображения</title>
</head>
<body>
{% for item in images %}
    <tr>
        <th>Файл</th>
        <th><a href="{{ item.photo.url }}" download>Скачать</a></th>
        <th><a href="{% url 'strike_card_photo_delete' item.pk %}">Удалить файл</a></th>
    </tr>
    <br>
{% empty %}
    <h1>Файлы связанных с этой карточкой нет!</h1>
{% endfor %}
{% for item in files %}
    <tr>
        <th>Файл</th>
        <th><a href="{{ item.file.url }}" download>Скачать</a></th>
        <th><a href="{% url 'strike_card_files_delete' item.pk %}">Удалить файл</a></th>
    </tr>
    <br>
{% empty %}
    <h1>Файлы связанных с этой карточкой нет!</h1>
{% endfor %}
</body>
</html>