{% load migrant_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ card.card_name }}</title>
    <style>
        @font-face {
            font-family: MyRightToLeftFont;
            src: url('../static/font/DejaVuSansMono.ttf')
        }

        body {
            font-family: MyRightToLeftFont
        }
        tr {
            text-align: center;
            height: 50px;
        }
        td {
            font-family: MyRightToLeftFont;
            text-align: center;
        }
        .counter {
            width: 30px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table style="border: 1px solid black;" class="table table-sm">
                <tr style="height: 30px;">
                    <th class="counter">1.1</th>
                    <th>{{ card|var_verbose_name:'id' }}</th>
                    {% if card.id|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.id }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.2</th>
                    <th>{{ card|var_verbose_name:'name' }}</th>
                    {% if card.name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.name }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.3</th>
                    <th>{{ card|var_verbose_name:'date_create' }}</th>
                    {% if card.date_create|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.date_create|date:"d.m.Y H:i" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.4</th>
                    <th>{{ card|var_verbose_name:'date_update' }}</th>
                    {% if card.date_update|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.date_update|date:"d.m.Y H:i" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.5</th>
                    <th>{{ card|var_verbose_name:'country' }}</th>
                    {% if card.country|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.country }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.6</th>
                    <th>{{ card|var_verbose_name:'region' }}</th>
                    {% if card.region|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.region }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.7</th>
                    <th>{{ card|var_verbose_name:'card_sources' }}</th>
                    {% if card.card_sources.name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.card_sources }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">1.8</th>
                    <th>{{ card|var_verbose_name:'source_url' }}</th>
                    {% if card.source_url|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.source_url }}</td>
                    {% endif %}
                </tr>
                {% if card.source_content|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.source_content|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.source_content|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">1.9</th>
                <th>{{ card|var_verbose_name:'source_content' }}</th>
                {% if card.source_content|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.source_content|linebreaks }}</td>
                {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.0</th>
                    <th>{{ card|var_verbose_name:'country' }}</th>
                    {% if card.country|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.country }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.1</th>
                    <th>{{ card|var_verbose_name:'region' }}</th>
                    {% if card.region|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.region }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.2</th>
                    <th>{{ card|var_verbose_name:'city_name' }}</th>
                    {% if card.city_name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.city_name }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.3</th>
                    <th>{{ card|var_verbose_name:'company_name' }}</th>
                    {% if card.company_name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.company_name }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.4</th>
                    <th>{{ card|var_verbose_name:'company_ownership_type' }}</th>
                    {% if card.company_ownership_type|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.company_ownership_type }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.5</th>
                    <th>{{ card|var_verbose_name:'company_country_name' }}</th>
                    {% if card.company_country_name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.company_country_name }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.6</th>
                    <th>{{ card|var_verbose_name:'company_is_tnk_member' }}</th>
                    {% if card.company_is_tnk_member|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.company_is_tnk_member|date:"d.m.Y H:i" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.7</th>
                    <th>{{ card|var_verbose_name:'company_tnk_name' }}</th>
                    {% if card.company_tnk_name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.company_tnk_name|date:"d.m.Y H:i" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.8</th>
                    <th>{{ card|var_verbose_name:'company_employees_count' }}</th>
                    {% if card.company_employees_count|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.company_employees_count }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">2.9</th>
                    <th>{{ card|var_verbose_name:'count_strike_participants' }}</th>
                    {% if card.count_strike_participants|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.count_strike_participants }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.0</th>
                    <th>{{ card|var_verbose_name:'card_demand_categories' }}</th>
                    {% if card.card_demand_categories.demand_cat_name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.card_demand_categories }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.1</th>
                    <th>{{ card|var_verbose_name:'economic_demands' }}</th>
                    {% if card.economic_demands.name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.economic_demands }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.2</th>
                    <th>{{ card|var_verbose_name:'economic_another' }}</th>
                    {% if card.economic_another|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.economic_another }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.3</th>
                    <th>{{ card|var_verbose_name:'politic_demands' }}</th>
                    {% if card.politic_demands.name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.politic_demands }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.4</th>
                    <th>{{ card|var_verbose_name:'politic_another' }}</th>
                    {% if card.politic_another|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.politic_another }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.5</th>
                    <th>{{ card|var_verbose_name:'combo_demands' }}</th>
                    {% if card.combo_demands.name|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.combo_demands }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.6</th>
                    <th>{{ card|var_verbose_name:'combo_another' }}</th>
                    {% if card.combo_another|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.combo_another }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.7</th>
                    <th>{{ card|var_verbose_name:'start_date' }}</th>
                    {% if card.start_date|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.start_date|date:"d.m.Y H:i" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.8</th>
                    <th>{{ card|var_verbose_name:'end_date' }}</th>
                    {% if card.end_date|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.end_date|date:"d.m.Y H:i" }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">3.9</th>
                    <th>{{ card|var_verbose_name:'tradeunionChoice' }}</th>
                    {% if card.tradeunionChoice|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.tradeunionChoice }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.0</th>
                    <th>{{ card|var_verbose_name:'tradeunionChoiceAnother' }}</th>
                    {% if card.tradeunionChoiceAnother|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.tradeunionChoiceAnother }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.1</th>
                    <th>{{ card|var_verbose_name:'added_by' }}</th>
                    {% if card.added_by|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.added_by }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.2</th>
                    <th>{{ card|var_verbose_name:'initiator' }}</th>
                    {% if card.initiator|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.initiator }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.3</th>
                    <th>{{ card|var_verbose_name:'tradeunion_data' }}</th>
                    {% if card.tradeunion_data|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.tradeunion_data }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.4</th>
                    <th>{{ card|var_verbose_name:'personGroupInfo' }}</th>
                    {% if card.personGroupInfo|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.personGroupInfo }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.5</th>
                    <th>{{ card|var_verbose_name:'employear' }}</th>
                    {% if card.employear|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.employear }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.7</th>
                    <th>{{ card|var_verbose_name:'duration' }}</th>
                    {% if card.duration|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.duration }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="counter">4.8</th>
                    <th>{{ card|var_verbose_name:'meeting_requirements' }}</th>
                    {% if card.meeting_requirements|check_arg_is_none %}
                        <td></td>
                    {% else %}
                        <td>{{ card.meeting_requirements }}</td>
                    {% endif %}
                </tr>
                {% if card.story|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.story|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.story|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">4.9</th>
                <th>{{ card|var_verbose_name:'story' }}</th>
                {% if card.story|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.story|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.reasons_for_strike|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.reasons_for_strike|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.reasons_for_strike|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.0</th>
                <th>{{ card|var_verbose_name:'reasons_for_strike' }}</th>
                {% if card.reasons_for_strike|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.reasons_for_strike|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.change_number_participants|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.change_number_participants|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.change_number_participants|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.1</th>
                <th>{{ card|var_verbose_name:'change_number_participants' }}</th>
                {% if card.change_number_participants|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.change_number_participants|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.initiators_and_participants|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.initiators_and_participants|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.initiators_and_participants|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.2</th>
                <th>{{ card|var_verbose_name:'initiators_and_participants' }}</th>
                {% if card.initiators_and_participants|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.initiators_and_participants|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.state_position|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.state_position|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.state_position|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.3</th>
                <th>{{ card|var_verbose_name:'state_position' }}</th>
                {% if card.state_position|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.state_position|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.results_so_far|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.results_so_far|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.results_so_far|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.4</th>
                <th>{{ card|var_verbose_name:'results_so_far' }}</th>
                {% if card.results_so_far|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.results_so_far|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.additional_information|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.additional_information|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.additional_information|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.5</th>
                <th>{{ card|var_verbose_name:'additional_information' }}</th>
                {% if card.additional_information|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.additional_information|linebreaks }}</td>
                {% endif %}
                </tr>
                {% if card.case_text|length < 250 %}
                    <tr style="height: 50px">
                        {% elif card.case_text|length < 500 %}
                    <tr style="height: 200px">
                        {% elif card.case_text|length < 1000 %}
                    <tr style="height: 350px">
                        {% else %}
                    <tr style="height: 500px">
                {% endif %}
                <th class="counter">5.6</th>
                <th>{{ card|var_verbose_name:'case_text' }}</th>
                {% if card.case_text|check_arg_is_none %}
                    <td></td>
                {% else %}
                    <td>{{ card.case_text|linebreaks }}</td>
                {% endif %}
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>