{% extends 'base.html' %}


{% block content %}
    <br>



    <br>
    <div class="row">
        <div class="col">
            <div id = "msform" class="card card-body" regions-url="{% url 'strike_regions_list' %}">

                <form method="get">
                    {% for card in myFilter.form %}
                        {{ card.label }}
                            {{ card }}
                    {% endfor %}


                    <button class="btn btn-primary" type="submit">Найти</button>
                </form>

            </div>
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>№</th>
                        <th>Монитор</th>
                        <th>Название</th>
                        <th>Регион</th>
                        <th>Дата создания</th>
                        <th>Дата последних изменений</th>
                        <th>Редактировать</th>
                    </tr>

                    {% for card in cards %}

                        <tr>
                            <td>{{card.id}}</td>
                            <td>{{card.added_by}}</td>
                            <td>{{card.name}}</td>
                            <td>{{card.region}}</td>
                            <td>{{card.date_create | date:"d.m.Y H:i"}}</td>
                            <td>{{card.date_update | date:"d.m.Y H:i"}}</td>
                            <td>

                                <a class="btn btn-sm btn-info" href="{% url 'strike_case_update' card.id %}">Edit</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'strike_case_delete' card.id%}">Delete</a>
                            </td>

                            {#					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>#}
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    {% block scripts %}
        <script>
            $("#id_country").change(function () {
                const url = $("#msform").attr("regions-url");  // get the url of the `load_cities` view
                const countryId = $(this).val();  // get the selected country ID from the HTML input

                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'country_id': countryId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
                        /*
                        let html_data = '<option value="">---------</option>';
                        data.forEach(function (city) {
                            html_data += `<option value="${city.id}">${city.name}</option>`
                        });
                        console.log(html_data);
                        $("#id_city").html(html_data);
                        */
                    }
                });

            });
        </script>
        {% endblock %}
{% endblock %}
