{% extends "base.html" %}
{#{% block title %}Забастовки{% endblock %}#}

{% block content %}

    <form method="post">

        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">

                {{ field.label_tag }}

                <br>
                {{ field }}
                <div class="invalid_feedback">
                    {{ field.errors }}
                </div>
            </div>
            <br>
        {% endfor %}

        <input type="submit" value="Сохранить" class="btn btn-primary btn-block">
    </form>


<script type="text/javascript">

    let select = document.createElement('select');

    let types = [
        {
            name: 'Экономич',
            values: [ 0, 1, 2, 4 ]
        },
        {
            name: 'Политич',
            values: [ 5, 6, 7, 8 ]
        },
        {
            name: 'Прочие',
            values: [ 9, 10 ]
        }
    ];

    types.map((v, i) => {
       let option = document.createElement('option');
       option.value = i;
       option.innerHTML = v.name;
       select.appendChild(option);
    });

    ul = document.getElementById('card_demands');
    ul.parentNode.insertBefore(select, ul);

    select.onchange = ()=>{
        [...new Array(11)].map((v, i) => {
           ul.getElementsByTagName('li').item(i).style.display =
               types[select.value].values.indexOf(i) > -1 ? 'block' : 'none';
        });
    }

    select.onchange();

</script>
{% endblock %}
