{% extends 'base.html' %}

{% load static %}
{% block content %}
    <br>



    <br>
    <div class="row">
        <div class="col">
            <div id = "msform" class="card card-body" regions-url="{% url 'strike_regions_list' %}">

                <form method="get">
                    <div class="row">
                        <div class="col-sm-4">
                            {{ myFilter.form.name.label }}
                            {{ myFilter.form.name }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.initiator.label }}
                            {{ myFilter.form.initiator }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.country.label }}
                            {{ myFilter.form.country}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{ myFilter.form.region.label }}
                            {{ myFilter.form.region}}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.start_date.label }}
                            {{ myFilter.form.start_date }}
                        </div>
                        <div class="col-sm-4">
                            {{ myFilter.form.end_date.label }}
                            {{ myFilter.form.end_date }}
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Найти</button>
                </form>

            </div>
        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>№</th>
                        <th>Монитор</th>
                        <th>Название</th>
                        <th>Регион</th>
                        <th>Дата создания</th>
                        <th>Дата последних изменений</th>
                        <th>...</th>
                    </tr>

                    {% for card in cards %}

                        <tr>
                            <td>{{card.id}}</td>
                            <td>{{card.added_by}}</td>
                            <td>{{card.name}}</td>
                            <td>{{card.region}}</td>
                            <td>{{card.date_create | date:"d.m.Y H:i"}}</td>
                            <td>{{card.date_update | date:"d.m.Y H:i"}}</td>
                            <td>
                                <a href="{% url 'strike_case_update' card.id %}"><img src="{% static 'icon/edit.svg' %}" height="20px" alt="Обновить"></a>
                                <a href="{% url 'strike_case_delete' card.id%}"><img src="{% static 'icon/delete.svg' %}" height="20px" alt="Удалить"></a>
                                <a href="{% url 'strike_case_download_pdf' card.id %}"><img src="{% static 'icon/pdf-download.svg' %}" height="20px" alt="Скачать pdf файл"></a>
                                <a href="{% url 'strike_case_get_pdf' card.id %}"><img src="{% static 'icon/pdf.svg' %}" height="20px" alt="Просмотреть pdf файл"></a>
                                <a href="{% url 'strike_card_show_comments' card.id %}"><img src="{% static 'icon/show-more.svg' %}" height="20px" alt="Показать коментарии"></a>

                                {#                                <a href="{% url 'strike_case_download_pdf' card.id %}"><img src="{% static 'icon/pdf-download.svg' %}" height="20px" alt="Скачать pdf файл"></a>#}
                                {#                                <a href="{% url 'strike_case_pdf' card.id %}"><img src="{% static 'icon/pdf.svg' %}" height="20px" alt="Просмотреть pdf файл"></a>#}
                            </td>
                            {#                            <td>#}
                            {#                                <a href="{% url 'strike_card_add_comment' card.id %}"><img src="{% static 'icon/add.svg' %}" height="20px" alt="Добавить коментарий"></a>#}
                            {#                                <a href="{% url 'strike_card_show_comments' card.id %}"><img src="{% static 'icon/show-more.svg' %}" height="20px" alt="Показать коментарии"></a>#}
                            {#                            </td>#}
                            {#					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>#}
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    {% block scripts %}
        <script>
            $("#id_country").change(function () {
                const url = $("#msform").attr("regions-url");  // get the url of the `load_cities` view
                const countryId = $(this).val();  // get the selected country ID from the HTML input

                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'country_id': countryId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
                        /*
                        let html_data = '<option value="">---------</option>';
                        data.forEach(function (city) {
                            html_data += `<option value="${city.id}">${city.name}</option>`
                        });
                        console.log(html_data);
                        $("#id_city").html(html_data);
                        */
                    }
                });

            });
        </script>
    {% endblock %}
{% endblock %}
