{% extends 'base.html' %}

{% block content %}
 <form method="post">
        {% for field in form %}
                <div class="form-group">

                    {{ field.label_tag }}

                    <br>
                    {{ field }}
                    <div class="invalid_feedback">
                        {{ field.errors }}
                    </div>
                </div>
                <br>
        {% endfor %}

    <input type="submit" value="Сохранить" class="btn btn-primary btn-block">
 </form>
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <div id = "test"></div>

<script type="text/babel">

    class App extends React.Component {

      constructor(props) {
        super(props);
        this.state = {
          data: this.props.data,
          country: this.props.data[0].v,
          token: this.props.token,
          isActive: this.props.isActive || false,
          name: this.props.name || ''
        }
      }

      handleChange(e, field, parent = null) {

        let isCheckbox = e.target.type === 'checkbox';

        if(parent === null) {
          this.setState({
            [field]: isCheckbox ? e.target.checked : e.target.value
          });
        }
        else
        {
          let parentNode = this.state[parent];
          parentNode[field] = isCheckbox ? e.target.checked : e.target.value;
          this.setState({
            [parent]: parentNode
          });
        }
      }

      render() {
        return (
          <form method="POST">
            <input
              type="hidden"
              name="csrfmiddlewaretoken"
              value={this.state.token}
              onChange={e => this.handleChange(e, 'token')}
            />
            <label>
              <select
                value={this.state.country}
                onChange={e => this.handleChange(e, 'country')}
                name="country"
              >
                {
                  this.state.data.map(v =>
                    <option value={v.pk} key={v.pk}>{v.fields.name}</option>
                  )
                }
              </select>
            </label>
            <br/>
            <label>
              <input
                type="checkbox"
                onChange={e => this.handleChange(e, 'isActive')}
                name="is_active"
              />
            </label>
            <br/>
            <label>
              <input
                type="text"
                onChange={e => this.handleChange(e, 'name')}
                name="name"
                required
              />
            </label>
            <br/>
            <button type="submit">Send</button>
          </form>
        );
      }

    }
    ReactDOM.render(
      <App
        data = { {{ country_json | safe }} }
        token = "{{ csrf_token | safe }}"
        cleaned_data = { {{ cleaned_data | safe }} }
      />,
      document.querySelector('#test')
    );

    /*
      name = models.CharField("Название", max_length=255)
      is_active = models.BooleanField("Активен", default=True)
      country = models.ForeignKey(Country, on_delete=models.DO_NOTHING)


     */
  </script>
{% endblock %}


        {% for demandType in demandTypes %}
            <ul>
                <li>
                    <input type="checkbox" id="option"><label for="option"> {{ demandType}}</label>
                </li>
            </ul>


        {% endfor %}


        {% regroup querySet by demand_type as demands %}
        {% for item in demands %}
            <div class="form-group">
                <ul>
                    <li>
                        <input type="checkbox" id="option"><label for="option"> {{ item.grouper}}</label>
                        <ul>
                            {% for event in item.list %}
                                <li><label><input type="checkbox" class="subOption"> {{ event }}</label></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>




        {% endfor %}