{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Поиск{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'statistica/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'statistica/css/preloader.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Система регистрации нарушений</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container p-5 b">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'analytic_home' %}">Главная</a></li>
                {% block breadcrumb %}
                ...
                {% endblock %}
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h3>Результат</h3>
            <table class="table table-striped">
                <tbody id="left-result"></tbody>
            </table>
        </div>
        <div class="col-sm-5">
            <h3>Поиск</h3>
            <div id="right-block">
                <div id="right-result"></div>
                <div class="item panel panel-primary">
                    <div class="item-header panel-heading">
                        <label class="s-label no-margin">Дата начала <input class="s-checks" id="startDate" type="checkbox"></label>
                    </div>
                    <div class="item-body d-none pt-3 pb-3 panel-body">
                        <input class="form-control" data-id="startDate" type="date">
                    </div>
                </div>
                <div class="item panel panel-primary">
                    <div class="item-header panel-heading">
                        <label class="s-label no-margin">Дата конца <input class="s-checks" id="endDate" type="checkbox"></label>
                    </div>
                    <div class="item-body d-none pt-3 pb-3 panel-body">
                        <input class="form-control" data-id="endDate" type="date">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-block" id="search-btn">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'statistica/js/sp_fields.js' %}"></script>
{% block scripts %}

{% endblock %}
</body>
</html>