<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аналитика</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <a href="https://databasesv1.herokuapp.com{% url 'migrant_analytic' %}" class="btn btn-primary">Мигранты</a>
    <a href="https://databasesv1.herokuapp.com{% url 'strike_analytic' %}" class="btn btn-primary">Забастовка</a>
    <a href="https://databasesv1.herokuapp.com{% url 'work_analytic' %}" class="btn btn-primary">трудовые нарушения</a>
</div>
</body>
</html>