{% extends 'statistica/base_search.html' %}
{% load static %}
{% block title %}
    Статистика забастовок
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Забастовка</li>
    <a id='strike_data_get' style="display: none">{{ url }}{% url 'strike_filter_data_api' %}</a>
    <a id='strike_data' style="display: none">{{ url }}{% url 'strike_data_api' %}</a>
    <a id='strike_search' style="display: none">{{ url }}{% url 'strike_search' %}</a>
{% endblock %}

{% block scripts %}
    <script src="{% static 'statistica/js/strike_search.js' %}"></script>
{% endblock %}