{% extends "base.html" %}


{% block content %}
    <div class="col-sm-4">
        <a class="btn btn-block btn-lg btn-primary" href="{% url 'strike_case' %}" role="button">Забастовки</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-block btn-lg btn-warning" href="{% url 'migrant_case' %}" role="button">Мигранты</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-block btn-lg btn-success" href="{% url 'work_case' %}" role="button">Трудовые нарушения</a>
    </div>
{% endblock %}